<form action="/auth/login" method="POST">
  <label for="auth-email">Email</label>
  <input id="auth-email" type="email" name="email">

  <label for="auth-password">Password</label>
  <input id="auth-password" type="password" name="password">

  <input type="submit" value="Log In">
</form>


<h1 id="loginIntro" class="homepageIntro">LOGIN PAGE</h1>
<h1 id="loginWelcome" class="homepageIntro">WELCOME BACK!</h1>
<img src="https://res.cloudinary.com/dstqqskiw/image/upload/v1613762160/rjtyeaudmcilh2tizgia.jpg" alt="food truck">