<form action="/auth/signup" method="POST">
  <label for="new-email">Email</label>
  <input id="new-email" type="email" name="email">

  <label for="new-name">Name</label>
  <input id="new-name" type="text" name="name">

  <label for="new-password">Password</label>
  <input id="new-password" type="password" name="password">

  <input type="submit" value="Sign up">
</form>


<h1 id="signupIntro" class="homepageIntro">SIGN UP PAGE</h1>
<h1 id="signupWelcome" class="homepageIntro">WELCOME TO THE COMMUNITY</h1>
<img src="https://res.cloudinary.com/dstqqskiw/image/upload/v1613762820/ilwzwhppgphaxh12o9fz.png" alt="food truck">


