
<img src="<%= image %>" alt="Food Truck"> 
<!-- this image comes from the server.js -->
<h1>edbewicbiuewbcerwioubc</h1>
<h1>feed page</h1>
<h1>NEWS FEED</h1>
<p>EVERYONES POST SHOULD DISPLAY IN HERE</p>


console.log(image)