
<!-- this image comes from the server.js -->
<h1>edbewicbiuewbcerwioubc</h1>
<h1>feed page</h1>
<h1>NEWS FEED</h1>
<p>EVERYONES POST SHOULD DISPLAY IN HERE</p>

<% for(let i = 0; i < posts.length; i++) { %> 
    <% let postItem = posts[i].get() %> 
     <img src="<%= postItem.img %>" alt="Food Truck"> 
     <p><%= postItem.nameOfTruck %> </p>
     <p><%= postItem.city %></p>
     <p><%= postItem.description %> </p>
     
<% } %> 



