<h3>Welcome to your PROFILE</h3>
<h2><%= name%>'s Page</h2>


<form action="/newsFeed"  method="POST" enctype="multipart/form-data">
    <label for="inputFile">Image</label>
    <input type="file" name="inputFile">
    <button type="submit" class="btn btn-primary">Upload Image</button>

</form>

<p>Id: <%= id %></p>
<p>Name: <%= name %></p>
<p>Email: <%= email %></p>


<ul>
    <li>should diplays users images</li>
    <li>user should be able to upload images</li>

</ul>