<h2>Profile Page</h2>

<h3>Welcome to your PROFILE</h3>

<form action="/images"  method="POST" enctype="multipart/form-data">
    <label for="inputFile">Image</label>
    <input type="file" name="inputFile">
    <button type="submit" class="btn btn-primary">Upload Image</button>

</form>

<p>Id: <%= id %></p>
<p>Name: <%= name %></p>
<p>Email: <%= email %></p>


